In [11]:
# Se importa el conector de mySQL para python
import mysql.connector
  
# Se Crea los parametros para la conexion a la base de datos
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="admin",
)
 
print(dataBase)
  
# Disconnecting from the server
# dataBase.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B3EDEE3C70>

In [12]:
# Se conecta a la base de datos con el cursor
cursorObject = dataBase.cursor()

In [7]:
#Se crea una base de datos llamada practicum
cursorObject.execute("CREATE DATABASE PRACTICUM")
cursorObject.execute("USE DATABASE PRACTICUM")

In [13]:
# Se crea una tabla en la base de datos PERSONAS
# Ejecutar una sola vez
tablapruebas = """CREATE TABLE PERSONAS (
cedula VARCHAR(10) NOT NULL,
nombres VARCHAR(50) NOT NULL,
apellidos VARCHAR(50) NOT NULL,
fecha_nacimiento DATE NOT NULL, 
PRIMARY KEY(cedula)
)"""

cursorObject.execute(tablapruebas)

In [14]:
# Creamos el query para insert 
# Ejecutar una sola vez
paraInsertar = """INSERT INTO CUMPLEANIOS (cedula, nombres, apellidos, fecha_nacimiento)\
VALUES (%s, %s, %s, %s)"""

In [15]:
# Probamos insertar una fila en la tabla cumpleaños
valor = ("1103689761", "Edgar", "Martinez","2003-07-28")

cursorObject.execute(paraInsertar, valor)
dataBase.commit()

In [16]:
# Probamos insertar varias filas a la vez en la base de datos
datosCumpleaños = [
    ("1105667271", "María", "Pineda", "2002-05-27"),
    ("1607892657", "Julio", "Luna", "2002-09-05"),
    ("1101788961", "Kevin", "Cabrera", "2003-07-06"),
    ("1107128839", "Ana", "Aguirre", "2002-04-07"),
    ("1103667891", "Carolina", "Álvarez", "2003-03-15"),
    ("1104826489", "Richard","Gonzalez", "2001-10-27")
]

cursorObject.executemany(paraInsertar, datosCumpleaños)
dataBase.commit()

In [17]:
# Actualizamos un campo en la tabla cumpleaños 
actualizar = "UPDATE PERSONAS SET fecha_nacimiento = '2002-04-22' WHERE cedula = '1107128839'"

cursorObject.execute(actualizar)
dataBase.commit()

In [18]:
# Añadimos un campo adicional a la tabla cumpleaños
addCampo = "ALTER TABLE PERSONAS ADD id_vehiculo VARCHAR(15) DEFAULT NULL"

cursorObject.execute(addCampo)
dataBase.commit()

In [19]:
# Actualizamos un campo en todas las filas de una tabla 
actualizartodos = "UPDATE CUMPLEANIOS SET nota = 'No olvidarlo'"

cursorObject.execute(actualizartodos)
dataBase.commit()

In [21]:
# Consulta de una tabla

consultaTodo = "SELECT * FROM practicum.cumpleanios"

cursorObject.execute(consultaTodo)

resultadoUno = cursorObject.fetchall()

for x in resultadoUno:
    print(x)

('Edgar', 28, 'julio', 18, 'No olvidarlo')
('Julio', 5, 'Septiembre', 19, 'No olvidarlo')
('Kevin', 6, 'julio', 18, 'No olvidarlo')
('Anita', 17, 'agosto', 22, 'No olvidarlo')
('Carolina', 13, 'abril', 19, 'No olvidarlo')
('Richard', 27, 'octubre', 20, 'No olvidarlo')
('Yamile', 26, 'octubre', 16, 'No olvidarlo')

In [22]:
# Consulta selectiva de una tabla
consultaSelectiva = """SELECT * FROM practicum.cumpleanios
WHERE (aniosactuales < 20) AND (mes = 'julio')"""

cursorObject.execute(consultaSelectiva)

resultadoDos = cursorObject.fetchall()

for x in resultadoDos:
    print(x)

('Edgar', 28, 'julio', 18, 'No olvidarlo')
('Kevin', 6, 'julio', 18, 'No olvidarlo')

In [23]:
dataBase.close()